<% include header %>
<div class="panel-title">
    <h2 class="text-center text-info form-group"><%= title %></h2>
</div>
<%if(success){%>
<div class="text-center"><%= success%></div>
<% }%>
<%if(error){%>
<div class="text-center"><%= error%></div>
<% }%>
<%if(user){%>
<form  method="post" class="col-sm-8 col-sm-offset-2" enctype="multipart/form-data">
    <div class="row form-group">
        <label class="col-sm-4  control-label">上传头像:</label>
        <div id="choseimg" class="col-sm-4 ">
            <img src="/img/<%=  user.pictureurl%>" onerror="this.src='/img/toux.jpg'">
            <input type="file"  name="perimg" >
        </div>
    </div>
  <div class="row form-group">
    <label class="col-sm-4 control-label">用户昵称:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="name" value="<%= user.name%>">
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-4 control-label">个性签名:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="sign" placeholder="个性签名" value="<%= user.sign%>">
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-4 control-label">性别:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="sex" value="<%= user.sex%>">
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-4 control-label">爱好:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="hobby" placeholder="爱好" value="<%= user.hobby%>">
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-4 control-label">个人介绍:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="introduce" placeholder="简单的介绍下自己" value="<%= user.introduce%>">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <input type="submit" class="btn btn-success" value="提交">
    </div>
  </div>
</form>
<%}%>
<% include footer %>
<script type="text/javascript">
    var imgs = document.querySelector('#choseimg img');
    // 通过点击图片实现点击input选择文件的效果
    imgs.onclick = function () {

        this.nextElementSibling.click();
    }
    var inputs = document.querySelector('#choseimg input');
    var file;
    // 表单内容发生变化
    inputs.onchange = function () {
        console.log(this);
        console.dir(this.files[0]);

        // 取出选择文件(图片、html、text...)
        file = this.files[0];

        // startsWith('image')判断字符串是否以'image'开头
        if (file.type.startsWith('image')) {
            // URL.createObjectURL(file);创建一个指向该文件的url
            this.previousElementSibling.src = URL.createObjectURL(file);
        } else{
            alert('文件格式不正确，请选择图片');
        }
    }
</script>


